# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [4]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [3]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [4]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [5]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [62]:
##Question 1

#load file
import pandas as pd
document = ET.parse( './data/mondial_database.xml' )

d=[]#initialize series
#iterate through countries, not all countries have infant mortality information
for country in document.findall("country"):
    name= country.find("name").text
    try:
        inf= country.find("infant_mortality").text
        inf=float(inf)
        #create series of dictionaries with info
        d.append({'name': name, 'infant_mortality': inf})
    except:
        pass
#convert to data frame and sort
d=pd.DataFrame(d)
d.sort_values(by="infant_mortality").head(10)

     infant_mortality            name
36               1.81          Monaco
90               2.13           Japan
109              2.48         Bermuda
34               2.48          Norway
98               2.53       Singapore
35               2.60          Sweden
8                2.63  Czech Republic
72               2.73       Hong Kong
73               3.13           Macao
39               3.15         Iceland

In [138]:
##Question 2

#Load information 
import pandas as pd
document = ET.parse( './data/mondial_database.xml' )
d=[]#initialize series

#iterate through all population values in all countries
for country in document.findall("country"):
    name=(country.find("name").text)
    for populationValue in country.findall("population"):
        population=populationValue.text
        population=int(population)
        d.append({'name': name, 'population': population})
#convert to DataFrame and Sort
d=pd.DataFrame(d)
d=d.groupby("name").max()
d.sort_values(by='population', ascending=0).head(10)

               population
name
China          1360720000
India          1210854977
United States   318857056
Indonesia       252124458
Brazil          202768562
Pakistan        173149306
Nigeria         164294516
Bangladesh      149772364
Russia          148178487
Japan           128057352

In [174]:
import pandas as pd
document = ET.parse( './data/mondial_database.xml' )
d=[]

for country in document.find("country"):
    #name = country.find("name").text
    for element in country.getiterator("ethnicgroup"):
        print (element.attrib)
    #for ethnicgroup in country.findall("ethnicpopulation"):
     #   print(ethnicgroup.attrib)
        #ethnicPop = ethnicgroup.text
        #d.append({'name':name,"ethnicPop":ethnicPop})
#d

{'percentage': '95'}
{'percentage': '3'}